*.pyc
*_ui.py
*.o
*.so
*.a
build/*
nottcontrol.egg-info/*
nottcontrol/script/data/*
nottcontrol/script/diagnostics/*
nottcontrol/script/cophasing/intrafringe_backlash_nott_ics.Delay_Lines.NDL1_speed_0.006299999999999955_nbfringe_02.png
nottcontrol/script/cophasing/intrafringe_nott_ics.Delay_Lines.NDL1_speed_0.0037999999999999545_nbfringe_02.png
nottcontrol/script/data/cophasing/intrafringe_absolute_DL_2_nbfringes_02_001.pkl
nottcontrol/script/data/cophasing/intrafringe_absolute_DL_2_nbfringes_02_002.pkl
nottcontrol/script/data/cophasing/intrafringe_absolute_DL_2_nbfringes_02_003.pkl
nottcontrol/script/data/cophasing/intrafringe_absolute_DL_2_nbfringes_02_004_backlash5.pkl
nottcontrol/script/data/cophasing/intrafringe_absolute_DL_2_nbfringes_02_005_backlash1.pkl
nottcontrol/script/data/cophasing/intrafringe_absolute_DL_2_nbfringes_08_001.pkl
nottcontrol/script/data/cophasing/intrafringe_absolute_DL_Servo_1_nbfringes_02_001_backlash1.pkl
nottcontrol/script/data/cophasing/intrafringe_absolute_DL_Servo_1_nbfringes_02_001.pkl
nottcontrol/script/data/cophasing/intrafringe_absolute_DL_Servo_1_nbfringes_02_002_backlash5.pkl
nottcontrol/script/data/cophasing/intrafringe_absolute_DL_Servo_1_nbfringes_08_001.pkl
nottcontrol/script/data/cophasing/intrafringe_absolute_nott_ics.Delay_Lines.NDL1_nbfringes_02_001.pkl
nottcontrol/script/data/cophasing/intrafringe_absolute_nott_ics.Delay_Lines.NDL1_nbfringes_02_002.pkl
nottcontrol/script/data/cophasing/intrafringe_absolute_nott_ics.Delay_Lines.NDL1_nbfringes_02_003.pkl
nottcontrol/script/data/cophasing/intrafringe_absolute_nott_ics.Delay_Lines.NDL1_nbfringes_02_004.pkl
nottcontrol/script/data/cophasing/intrafringe_absolute_nott_ics.Delay_Lines.NDL1_nbfringes_02_005.pkl
nottcontrol/script/data/cophasing/intrafringe_absolute_nott_ics.Delay_Lines.NDL1_nbfringes_02_006.pkl
nottcontrol/script/data/cophasing/intrafringe_absolute_nott_ics.Delay_Lines.NDL1_nbfringes_02_007.pkl
nottcontrol/script/data/cophasing/intrafringe_backlash_nott_ics.Delay_Lines.NDL1_speed_0.006299999999999955_nbfringe_02.png
nottcontrol/script/data/cophasing/intrafringe_DL_2_02.png
nottcontrol/script/data/cophasing/intrafringe_DL_2_08.png
nottcontrol/script/data/cophasing/intrafringe_DL_Servo_1_02.png
nottcontrol/script/data/cophasing/intrafringe_DL_Servo_1_08.png
nottcontrol/script/data/cophasing/intrafringe_nott_ics.Delay_Lines.NDL1_02.png
nottcontrol/script/data/cophasing/intrafringe_nott_ics.Delay_Lines.NDL1_speed_0.0037999999999999545_nbfringe_02.png
nottcontrol/script/data/cophasing/null_repeat_DL_2_speed_0.05_001.pkl
nottcontrol/script/data/cophasing/null_repeat_DL_2_speed_0.05_002.pkl
nottcontrol/script/data/cophasing/null_repeat_DL_2_speed_0.05_003.pkl
nottcontrol/script/data/cophasing/null_repeat_DL_2_speed_0.05_004.pkl
nottcontrol/script/data/cophasing/null_repeat_DL_2_speed_0.025_001.pkl
nottcontrol/script/data/cophasing/null_repeat_DL_3_pos_speed_0.02_001.pkl
nottcontrol/script/data/cophasing/null_repeat_DL_Servo_1_speed_0.05_001.pkl
nottcontrol/script/data/cophasing/null_repeat_DL_Servo_1_speed_0.05_002.pkl
nottcontrol/script/data/cophasing/null_repeat_DL_Servo_1_speed_0.025_001.pkl
nottcontrol/script/data/cophasing/null_repeat_nott_ics.Delay_Lines.NDL1_speed_0.005_001.pkl
nottcontrol/script/data/cophasing/null_repeat_nott_ics.Delay_Lines.NDL1_speed_0.05_001.pkl
nottcontrol/script/data/cophasing/null_repeat_nott_ics.Delay_Lines.NDL1_speed_0.005_002.pkl
nottcontrol/script/data/cophasing/null_repeat_nott_ics.Delay_Lines.NDL1_speed_0.05_002.pkl
nottcontrol/script/data/cophasing/null_repeat_nott_ics.Delay_Lines.NDL1_speed_0.05_003.pkl
nottcontrol/script/data/cophasing/null_repeat_nott_ics.Delay_Lines.NDL1_speed_0.05_004.pkl
nottcontrol/script/data/cophasing/null_repeat_nott_ics.Delay_Lines.NDL1_speed_0.05_005.pkl
nottcontrol/script/data/cophasing/null_repeat_nott_ics.Delay_Lines.NDL1_speed_0.05_006.pkl
nottcontrol/script/data/cophasing/null_repeat_nott_ics.Delay_Lines.NDL1_speed_0.05_007.pkl
nottcontrol/script/data/cophasing/null_repeat_nott_ics.Delay_Lines.NDL1_speed_0.05_008.pkl
nottcontrol/script/data/cophasing/null_repeat_nott_ics.Delay_Lines.NDL1_speed_0.05_009.pkl
nottcontrol/script/data/cophasing/null_repeat_nott_ics.Delay_Lines.NDL1_speed_0.05_010.pkl
nottcontrol/script/data/cophasing/null_repeat_nott_ics.Delay_Lines.NDL1_speed_0.05_011.pkl
nottcontrol/script/data/cophasing/null_repeat_nott_ics.Delay_Lines.NDL1_speed_0.05_012.pkl
nottcontrol/script/data/cophasing/null_repeat_nott_ics.Delay_Lines.NDL1_speed_0.05_013.pkl
nottcontrol/script/data/cophasing/null_scans_DL_1_pos_speed_0.01_001.pkl
nottcontrol/script/data/cophasing/null_scans_DL_1_pos_speed_0.02_001_normal.pkl
nottcontrol/script/data/cophasing/null_scans_DL_1_pos_speed_0.02_002_slowspeed.pkl
nottcontrol/script/data/cophasing/null_scans_DL_1_pos_speed_0.02_003_random_wait.pkl
nottcontrol/script/data/cophasing/null_scans_DL_1_pos_speed_0.02_004_normal_long_waitdb_2.pkl
nottcontrol/script/data/cophasing/null_scans_DL_1_pos_speed_0.02_005_random_wait_waitdb_2.pkl
nottcontrol/script/data/cophasing/null_scans_DL_1_pos_speed_0.02_006_waitdb_0.2.pkl
nottcontrol/script/data/cophasing/null_scans_DL_1_pos_speed_0.02_007_waitdb_0.2.pkl
nottcontrol/script/data/cophasing/null_scans_DL_1_pos_speed_0.02_008.pkl
nottcontrol/script/data/cophasing/null_scans_DL_1_pos_speed_0.02_009.pkl
nottcontrol/script/data/cophasing/null_scans_DL_1_pos_speed_0.02_010.pkl
nottcontrol/script/data/cophasing/null_scans_DL_1_pos_speed_0.02_011.pkl
nottcontrol/script/data/cophasing/null_scans_DL_1_pos_speed_0.02_012.pkl
nottcontrol/script/data/cophasing/null_scans_DL_1_pos_speed_0.02_013.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_pos_speed_0.02_001.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_pos_speed_0.02_002.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_pos_speed_0.02_003.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_pos_speed_0.02_004.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_pos_speed_0.02_005.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_pos_speed_0.02_006.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_pos_speed_0.02_007.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_speed_0.05_001.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_speed_0.05_002.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_speed_0.05_003.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_speed_0.05_004.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_speed_0.05_005.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_speed_0.05_006.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_speed_0.025_001.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_speed_0.0385_001.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_speed_0.0385_002.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_speed_0.06615_001.pkl
nottcontrol/script/data/cophasing/null_scans_DL_2_speed_0.06615_002.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.01_001.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.01_002.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_001.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_002.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_003.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_004.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_005.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_006.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_007.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_008.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_009.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_010.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_011.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_012.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_013.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_014.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_015.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_016.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_017.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_018.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_019.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_020.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_021.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_022.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_023.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_024.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_025.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_026.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_027.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_028.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_029.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_030.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_031.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_032.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_033.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_034.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_035.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_036.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_037.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_038.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_039.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_040.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_041.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_042.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_043.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_044.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_045.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_046.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_047.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_048.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_049.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_050.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_051.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_052.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_053.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_054.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_055.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_056.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_057.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_058.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_059.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_060.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.02_061.pkl
nottcontrol/script/data/cophasing/null_scans_DL_3_pos_speed_0.03_001.pkl
nottcontrol/script/data/cophasing/null_scans_DL_4_pos_speed_0.02_001.pkl
nottcontrol/script/data/cophasing/null_scans_DL_4_pos_speed_0.02_002.pkl
nottcontrol/script/data/cophasing/null_scans_DL_4_pos_speed_0.02_003.pkl
nottcontrol/script/data/cophasing/null_scans_DL_4_pos_speed_0.02_004.pkl
nottcontrol/script/data/cophasing/null_scans_DL_4_pos_speed_0.02_005.pkl
nottcontrol/script/data/cophasing/null_scans_DL_Servo_1_speed_0.05_001.pkl
nottcontrol/script/data/cophasing/null_scans_DL_Servo_1_speed_0.05_002.pkl
nottcontrol/script/data/cophasing/null_scans_DL_Servo_1_speed_0.025_001.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.005_001.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_001.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.005_002.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_002.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_003.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_004.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_005.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_006.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_007.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_008.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_009.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_010.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_011.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_012.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_013.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_014.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_015.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_016.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_017.pkl
nottcontrol/script/data/cophasing/null_scans_nott_ics.Delay_Lines.NDL1_speed_0.05_018.pkl
nottcontrol/script/data/diag_data/intrafringe_absolute_DL_2_nbfringes_02_001.pkl
nottcontrol/script/data/diag_data/intrafringe_DL_2_02.png
nottcontrol/script/data/diag_data/intrafringe_DL_Servo_1_02.png
nottcontrol/script/data/sync/sync_shutter_flux_delay_2.0_fps_100_001.pkl
nottcontrol/script/data/sync/sync_shutter_flux_delay_2.0_fps_100_random_wait_001.pkl
nottcontrol/script/data/sync/sync_shutter_flux_delay_2.0_fps_200_001.pkl
nottcontrol/script/data/sync/sync_shutter_flux_delay_2.0_fps_200_random_wait_001.pkl
nottcontrol/script/diagnostics/lag.py
nottcontrol/script/diagnostics/redis_lag_dl_001.png
nottcontrol/script/diagnostics/redis_lag_dl_002.png
nottcontrol/script/diagnostics/redis_lag_dl_003.png
nottcontrol/script/diagnostics/redis_lag_dl_004.png
nottcontrol/script/diagnostics/redis_lag_dl_005.png
nottcontrol/script/diagnostics/redis_lag_dl_006.png
nottcontrol/script/diagnostics/redis_lag_dl_007.png
nottcontrol/script/diagnostics/redis_lag_dl_008.png
nottcontrol/script/diagnostics/redis_lag_dl_009.png
nottcontrol/script/diagnostics/redis_lag_dl_010.png
nottcontrol/script/diagnostics/redis_lag_dl_time_stats_001.txt
nottcontrol/script/diagnostics/redis_lag_dl_time_stats_002.txt
nottcontrol/script/diagnostics/redis_lag_dl_time_stats_003.txt
nottcontrol/script/diagnostics/redis_lag_dl_time_stats_004.txt
nottcontrol/script/diagnostics/redis_lag_dl_time_stats_005.txt
nottcontrol/script/diagnostics/redis_lag_dl_time_stats_006.txt
nottcontrol/script/diagnostics/redis_lag_dl_time_stats_007.txt
nottcontrol/script/diagnostics/redis_lag_dl_time_stats_008.txt
nottcontrol/script/diagnostics/redis_lag_dl_time_stats_009.txt
nottcontrol/script/diagnostics/redis_lag_dl_time_stats_010.txt
nottcontrol/script/diagnostics/redis_lag_dl_time_stats.png
nottcontrol/script/diagnostics/redis_lag_shutter_001.png
nottcontrol/script/diagnostics/redis_lag_shutter_002.png
nottcontrol/script/diagnostics/redis_lag_shutter_003.png
nottcontrol/script/diagnostics/redis_lag_shutter_004.png
nottcontrol/script/diagnostics/redis_lag_shutter_005.png
nottcontrol/script/diagnostics/redis_lag_shutter_006.png
nottcontrol/script/diagnostics/redis_lag_shutter_007.png
nottcontrol/script/diagnostics/redis_lag_shutter_008.png
nottcontrol/script/diagnostics/redis_lag_shutter_009.png
nottcontrol/script/diagnostics/redis_lag_shutter_010.png
nottcontrol/script/diagnostics/redis_lag_shutter_time_stats_001.txt
nottcontrol/script/diagnostics/redis_lag_shutter_time_stats_002.txt
nottcontrol/script/diagnostics/redis_lag_shutter_time_stats_003.txt
nottcontrol/script/diagnostics/redis_lag_shutter_time_stats_004.txt
nottcontrol/script/diagnostics/redis_lag_shutter_time_stats_005.txt
nottcontrol/script/diagnostics/redis_lag_shutter_time_stats_006.txt
nottcontrol/script/diagnostics/redis_lag_shutter_time_stats_007.txt
nottcontrol/script/diagnostics/redis_lag_shutter_time_stats_008.txt
nottcontrol/script/diagnostics/redis_lag_shutter_time_stats_009.txt
nottcontrol/script/diagnostics/redis_lag_shutter_time_stats_010.txt
nottcontrol/script/diagnostics/redis_lag_shutter_time_stats.png
