# HxRG slow-mode config for warm (~80 K) acceptance / checkout

MACIEFile   load_files/MACIE_Registers_Slow.mrf
MACIEslot   2
ASICFile    load_files/mcd/HxRG_80K.mcd
ASICRegs    load_files/cfg/HxRG_80K.cfg

saveDir     ~/test_data/80K/
filePrefix  HxRG_80K

DetType     H2RG  # H1RG, H2RG, H4RG
DetMode     SLOW  # SLOW or FAST

clkPhase    0x01ca   # 0x01ea - Cold; 0x01ca - Warm
clkRateM    10

# Register values set upon load
reg_NumOutputs   32
reg_RefInput     1       # 0 - 0x4a0a (single)  1 - 0x4502 (V4,3,2,1) (differential)
reg_RefOverride  1       # Use Inputs stored in OverrideVals?
reg_OverrideVals 0xaaaa  # Shorted ground inputs

reg_Buff         0x0     # Unbuffered 0x0, buffered 0x3
reg_Gain         12      # PreAmp Gain (0-15)
reg_CapComp      19      # 19 => 19*53 = 1007 fF
reg_FiltPole      5      # 5 => 1263 KHz (4.2 x 300 KHz)

reg_WarmOrCold       1   # 0 - Cold (~37 K)  1 - Warm (~80 K)
reg_PreampRstScheme  1   # 0 - per frame (cold)  1 - per row (warm)
