# H2RG fast-mode config for warm ASIC (~80 K).
# Same DevBrd MCD as cold fast; warm clock phase and non-cryo MACIE registers.

MACIEFile   load_files/MACIE_Registers_Fast.mrf
MACIEslot   2
ASICFile    load_files/mcd/DevBrd_H2RG_12bit_32output_5MHz_coldASIC.mcd
ASICRegs    load_files/cfg/H2RG_12bit_32output_5MHz_coldASIC.cfg

saveDir     /data/nott
filePrefix  nott

DetType     H2RG
DetMode     FAST

clkRateM    80
clkPhase    0x01ca   # Warm

Inputs      0xaaaa
Gain        8
CapComp     38
FiltPole    5
